h1 {
  color:Black;
  font-family:Copperplate;

}

h2 {
  color:#A0DAA9;
  font-family:Monaco;
  text-shadow: 1px 1px 3px #bdffc7

}

h3 {
  color:black;
  font-family:cursive;
  text-shadow: 1px 1px 5px #f09292;

}


p {
}

body {
    background-color: #fff4d9;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

p {
}

img {
  border: 5px solid #A0DAA9;
  width:25%;
  height:25%;
  margin-left:100px;

}

#gif {
  border: 0px;
  width:15%;
  height:15%;
  margin-left:10px;

}
