h1 {
  color:#A0DAA9;
  font-family:verdana;

}

p {
}

body {
    background-color: #fff4d9;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

p {
}

img {
  border: 5px solid #A0DAA9;
  width:50%;
  height:50%;
  margin-left:100px;

}
